<div class="loadig" *ngIf="!category">
  Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="category">
  <h1>{{category.name}}</h1>
  <hr>

  <div class="loadig" *ngIf="!posts">
    Cargando listado...
  </div>

  <div class="alert alert-warning" *ngIf="posts && posts.length == 0">
    No hay entradas que mostrar
  </div>

  <div class="card-columns" *ngIf="posts && posts.length >= 1">
    <article class="card w-100" *ngFor="let post of posts">
      <div class="card-header">
        <h3>
          <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
        </h3>
      </div>
      <div class="card-body">
        <!-- imagen -->
        <div class="post-image w-100" *ngIf="post.image">
          <img src="{{ url + 'post/image/' + post.image}}" class="w-100" alt="imagen post">
        </div>
        <div class="post-image w-100" *ngIf="!post.image">
          <img src="assets/images/default-image.png" class="w-100" alt="imagen post">
        </div>

        <!-- botones de accion -->
        <div class="post-buttons mt-3">
          <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
          <span *ngIf="identity && identity.sub == post.user_id">
            <a [routerLink]="['/editar-entrada', post.id]" class="btn btn-warning mr-2">Editar</a>

            <button type="button" class="btn btn-danger" data-toggle="modal"
              [attr.data-target]="'#myModal'+post.id">Borrar</button>

            <!-- Modal -->
            <div id="{{'myModal' + post.id }}" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>Esta seguro que quiere eliminar esta entrada ?</p>
                  </div>
                  <div class="modal-footer">
                    <a (click)="deletePost(post.id)" class="btn btn-danger" data-dismiss="modal">Borrar</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>

              </div>
            </div>
          </span>
        </div>
      </div>
    </article>
  </div>



</div>
